body {
  font-family: 'Raleway', serif;
  background: url("asset/image/blizzard.png");
  background-repeat: repeat;
  background-color: #f9f8f3;
}

main[role*="main"] {
  padding: 40px 0;
}

body.contact-us,
body.contact,
body.home {
  main[role*="main"] {
    padding: 40px 0 0;
  }
}

@media(min-width: 768px){
  .navbar-brand {
    display: none!important;
  }
}

.navbar-fixed-top .navbar-collapse {
  max-height: 360px;
}

.sub-header-2 {
  background: #fff;

  .logo-img {
    padding: 10px;
  }
}

.navbar-nav > li > a:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: 0 0;
  transition: width 0.4s ease,background-color 0.4s ease;
}

.navbar-nav > li > a:hover:after {
  background: #fff;
  width: 100%;
}

/* header */
.header-image-page {
  position: relative;
  &:after {
    position: absolute;
    background: rgba(0,0,0,.4);
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
  }

  &.plain {
    height: 60px;
    #mainNav {
      top: 0;
    }
  }
}

.header-address {
  text-align: center;
  margin: 10px;
  font-size: 12px;
  span {
    display: block;
    a {
      color: $color-white;
    }
  }
}

/* homepage */
.heading-box {
  overflow: hidden;
  text-align: center;
  h2 {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    margin: 0 0 30px;
    font-size: 22px;
    z-index: 1;
    &:before, &:after {
      background: #ddd;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 100%;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}

.home-facilities {
  .box-thumb {
    .thumbnail-gallery {
      border: 0;
      span {
        position: relative;
        height: 0;
        padding-bottom: 55.25%;
        display: block;
        img {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-size: cover;
        }
      }
    }
  }
}

.hotel-info-home {
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  display: block;
  background-position: center;
  overflow: hidden;
  height: 300px;
  position: relative;
  color: #fff;

  &:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .heading-box {
    h2 {
      margin-top: 30px;
    }
  }

  p {
    line-height: 24px;
  }
  .home-award-title {
    h3 {
      margin: 40px 0 30px;
      position: relative;
      z-index: 1;
    }
  }
  .home-carousel {
    padding-top: 30px;
    border-bottom: 0;

    .title-slide {
      text-align: center;
      h2 {
        font-size: 16px;
        margin-top: 0;
      }
    }
  }
}

/* package */
.box-content {
  margin: 20px -10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .content-inner {
    align-items: flex-start;
    padding: 0 10px;
    p {
      margin-bottom: 0;
    }
  }

  @media(max-width: 767px){
    flex-wrap: wrap;
    .content-inner {
      margin-bottom: 20px;
    }
  }
}

.inner-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background: $base-color;
  &:before {
    content: " ";
    position: absolute;
    z-index: 0;
    top: 5px;
    left: 20px;
    right: 20px;
    bottom: 5px;
    border: 1px solid $color-white;
  }
  .content {
    img {
      width: 44px;
      height: 44px;
      border-radius: 100%;
      margin-right: 10px;
    }
    span {
      display: inline-block;
      line-height: 44px;
      font-size: 20px;
      color: $color-white;
    }
  }
}

.carousel-control.right, .carousel-control.left {
  &:hover {
    background: transparent;
  }
}

/* booking form */
.booking-box {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  .bookid-wrapper {
    z-index: 999;
    box-sizing: border-box;
    max-width: 1170px;
    padding: 10px 10px 0;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    @media(max-width: 767px){
      &.krs-hidden {
        opacity: 1!important;
      }
    }
    label {
      font-weight: normal;
    }

    h2 {
      margin: 0 0 10px;
      font-size: 20px;
      color: $color-white;
    }
    .bookid-horizontal {
      @media(max-width: 767px){
        .gridlane {
          background: transparent;
        }
      }
    }
    [class*=idn-] {
      margin-bottom: 0;
    }
  }
}

/* gallery */
body.photos,
body.dining,
body.photo-galleries,
body.gallery-photos,
body.gallery {
  .box-gallery {
    border: 0!important;
    .gallery-nav {
      .item {
        padding: 0 5px;
      }
    }
  }
  .gallery-view.slick-initialized.slick-slider {
    max-height: 540px;
  }
  .gallery-view {

    .slider-item {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        object-fit: cover;
      }
    }
    .item {
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(227,161,28,0.5);
        padding: 20px;
        color: #fff;
        @media(max-width: 767px){
          padding: 10px;
          font-size: 14px;
        }
      }
    }
    .slick-prev {
      left: 20px;
      z-index: 1;
      width: 40px;
      height: 40px;
    }
    .slick-next {
      right: 20px;
      width: 40px;
      height: 40px;
    }
    .slick-prev:before, .slick-next:before {
      font-size: 40px;
    }
  }

  .gallery-nav {
    padding-top: 10px;
  }
}

body.contact .header-image-page,
body.gallery-photos .header-image-page,
body.review .header-image-page {
  background-position: center 80%;
}

body.facilities .header-image-page {
  background-position: center 40%;
}

@media(max-width: 767px){
  .bookid-wrapper .bookid-horizontal #from_date_day, .bookid-wrapper .bookid-horizontal #to_date_day {
    display: none;
  }
  .bookid-wrapper .box-logo {
    padding-bottom: 20px;
  }
  .bookid-horizontal input[type=text].from_date, .bookid-horizontal input[type=text].to_date {
    width: 100%!important;
  }
  .bookid-wrapper .box-logo a {
    background: transparent!important;
  }
}

.navbar-custom {
  z-index: 1000;
}

.room-thumb {
  text-align: left;
  margin-bottom: 30px;
  &:hover {
    a {
      color: $color-white;
    }
  }
}


.room-desc {
  padding: 10px;
}

.room-stat {
  font-size: 12px;
  ul {
    margin: 0 -10px;
    li {
      padding: 0 10px;
      float: left;
    }
  }
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}


@media (min-width: 768px) {
  .room-stat ul li {
    width: 50%;
  }
}

.room-link {
  margin: 10px 0;
  text-align: center;
  a {
    color: #E3A11C;
    border: 1px solid #E3A11C;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    &:hover {
      color: #fff;
      background: #421d01;
      text-decoration: none;
    }
  }
}

#room-section {
  text-align: center;
  padding: 50px 0;
}

#room-section .box-room, .rooms-post, .meetings-events {
  margin-bottom: 30px;
  .thumb {
    a {
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      display: block;
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-size: cover;
      }
    }
  }
}

.rooms-post {
  margin-bottom: 0;
}

.home-facilities .box-thumb .thumb {
  padding: 0;
}

body.review {
  .box-container {
    margin-bottom: 30px;
    .box-text {
      margin-top: 0;
      padding: 15px;
      h4 {
        margin: 10px 0;
      }
    }
  }
}

.room-thumb:hover {
  .box-text {
    h4 {
      color: $color-white;
    }
  }
}


/* news page */
.inner-news {
  .title-room-list {
    text-align: left;
    margin: 0 0 10px;
  }
  .news-meta {
    display: block;
    margin-bottom: 10px;
  }
  .box-container {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    .thumb {
      a {
        padding-bottom: 67.25%;
        height: 0;
        display: block;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          overflow: hidden;
          height: auto;
        }
      }
    }
    &:hover {
      // background-color: #044300;
      // color: #fff;
    }
  }
}

/* contact page */
.wpcf7-form {
  p {
    margin-bottom: 10px;
  }
  label {
    font-weight: normal;
    width: 100%;
    input, textarea {
      width: 100%;
      border-radius: 4px;
      border: 1px solid #eaeaea;
      padding: 5px;

      &:focus {
        border: 1px solid #cec8c8;
      }
    }

    input {
      height: 40px;
    }
  }
  input[type="submit"] {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 15px;
  }
}

.info-text {
  margin-bottom: 20px;
  ul {
    li {
      list-style: none;
    }
  }
  .info-icon {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    float: none;
    text-align: center;
    .icon-round {
      width: 37px;
      height: 37px;
      line-height: 37px;
      border-radius: 100%;
      display: inline-block;
      text-align: center;
      color: #ffffff;
      i {
        font-size: 14px;
      }
    }
  }
  .info-content {
    display: inline-block;
    vertical-align: middle;
    width: 83%;
    box-sizing: border-box;
    padding-left: 10px;
    ul {
      padding-left: 0;
    }
  }
}
.info-text-alpha {
  position: relative;
  padding: 0px 0px 0px 64px;
  margin-bottom: 18px;

  i {
    position: absolute;
    left: 0px;
    top: 4px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
  }
}

.wifi {
  button {
    width: 100%;
    text-align: center;
    padding: 5px;
    i {
      float: right;
      line-height: 24px;
      padding-right: 5px;
    }
  }
  div[class*="col-"] {
    margin: 5px 0;
    &:last-child {
      margin-top: 0;
    }
  }
}

.dropdown {
  &:hover {
    > .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  }
}
.navbar-custom,
.navbar-custom-2 {
  ul {
    li {
      &:hover {
        > ul {
          right: auto!important;
          li {
            &:hover {
              ul {
                right: auto!important;
                left: 100%!important;
                top: 0!important;
              }
            }
          }
        }
      }
    }
  }
}

/* popup gmaps */
.popup-gmaps {
  position: fixed;
  bottom: 100px;
  right: 20px;
  span {
    width: 48px;
    height: 48px;
    display: block;
    text-align: center;
    border-radius: 100%;
    i {
      font-size: 18px;
      line-height: 48px;
    }
  }
}

.rwmb-map-canvas {
  margin-top: 40px;
}
