
/* 1. Align */
.tx {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }
}

/* 2. Padding */
.padd {
  &-60 {
    padding: 60px;
  }
}

.paddtb {
  &-60 {
    padding: 60px 0;
  }

  &-40 {
    padding: 40px 0;
  }

  &-20 {
    padding: 20px 0;
  }

  &-10 {
    padding: 10px 0;
  }
}

/* 3. Margin */
.marg {
  &-60 {
    margin: 60px;
  }
}

.margitb {
  &-20 {
    margin: 20px 0;
  }
}

.margibo {
  &-20 {
    margin-bottom: 20px;
  }

  &-30 {
    margin-bottom: 30px;
  }

  &-40 {
    margin-bottom: 40px;
  }

  &-60 {
    margin-bottom: 60px;
  }
}
