//@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Rasa');

body {
  font-family: 'Rasa', serif;
  background: url("asset/image/blizzard.png");
  background-repeat: repeat;
}
/* header */
.header-address {
  text-align: center;
  margin: 10px;
  font-size: 12px;
  span {
    display: block;
    a {
      color: $color-white;
    }
  }
}

/* homepage */
body.home {
  h2 {
    font-family: 'Rasa', serif;
  }
}

.heading-box {
  overflow: hidden;
  text-align: center;
  h2 {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    margin: 0 0 30px;
    font-size: 22px;
    &:before, &:after {
      background: #ddd;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 100%;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}

/* package */
.box-content {
  margin: 20px -10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .content-inner {
    align-items: flex-start;
    padding: 0 10px;
    p {
      margin-bottom: 0;
    }
  }

  @media(max-width: 767px){
    flex-wrap: wrap;
    .content-inner {
      margin-bottom: 20px;
    }
  }
}

.inner-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background: #ecb64e;
  &:before {
    content: " ";
    position: absolute;
    z-index: 0;
    top: 5px;
    left: 20px;
    right: 20px;
    bottom: 5px;
    border: 1px solid #6d6e71;
  }
  .content {
    span {
      display: inline-block;
      line-height: 44px;
      font-size: 20px;
      color: $color-white;
    }
  }
}

.carousel-control.right, .carousel-control.left {
  &:hover {
    background: transparent;
  }
}


body.photos {
  .box-gallery {
    border: 0!important;
  }
  .gallery-view.slick-initialized.slick-slider {
    max-height: 540px;
  }
  .gallery-view {

    .slider-item {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
    .item {
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(227,161,28,0.5);
        padding: 20px;
        color: #fff;
        @media(max-width: 767px){
          padding: 10px;
          font-size: 14px;
        }
      }
    }
    .slick-prev {
      left: 20px;
      z-index: 1;
    }
    .slick-next {
      right: 20px;
    }
    .slick-prev:before, .slick-next:before {
      color: #ecb64e;
    }
  }
  .gallery-nav {
    display: none;
  }
}


body.contact .header-image-page,
body.gallery-photos .header-image-page,
body.review .header-image-page {
  background-position: center 80%;
}

body.facilities .header-image-page {
  background-position: center 40%;
}

.booking-box {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  .bookid-wrapper {
    z-index: 999;
    box-sizing: border-box;
    max-width: 1170px;
    padding: 10px 10px 0;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    label {
      font-weight: normal;
    }
  }
}

.room-thumb:hover {
  border: 1px solid #421d01;
}

.room-desc {
  padding: 10px;
}

.room-stat {
  font-size: 12px;
}

.room-stat ul {
  margin: 0 -10px;
}

.room-stat ul li {
  padding: 0 10px;
  float: left;
}
@media (min-width: 768px) {
  .room-stat ul li {
    width: 50%;
  }
}

.room-stat:after {
  clear: both;
  content: "";
  display: block;
}

.room-link {
  margin: 10px 0;
  text-align: center;
}

.room-link a {
  color: #E3A11C;
  border: 1px solid #E3A11C;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}

.room-link a:hover {
  color: #fff;
  background: #421d01;
  text-decoration: none;
}

#room-section {
  text-align: center;
  padding: 50px 0;
}

#room-section .box-room {
  margin-bottom: 30px;
}

.info-text {
  position: relative;
  padding: 0 0 0 64px;
  margin-bottom: 18px;
}

.info-text i {
  position: absolute;
  left: 0;
  top: 4px;
  width: 45px;
  height: 45px;
  background: #fab740;
  line-height: 45px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

.home-facilities .box-thumb .thumb {
  padding: 0;
}

body.review .box-container {
  margin-bottom: 30px;
}

body.review .box-container .box-text {
  margin-top: 0;
  padding: 15px;
}

body.review .box-container .box-text h4 {
  margin: 10px 0;
}

main[role*="main"] {
  margin: 40px 0;
}

.navbar-brand {
  display: none;
}
