*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #636363;
  max-width: 100%;
  max-height: 100%;
}

.clear:after,
.clear:before {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #421d01;
  text-decoration: none;
}

a:hover {
  color: #421d01;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

li,
ol {
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 960px;
}

.krs-hidden {
  opacity: 0;
}

.krs-visible {
  opacity: 1;
}

.header-home {
  width: 100%;
  color: #cacaca;
  position: relative;
}

.header-image-page {
  background: url("asset/images/header1.jpg") no-repeat;
  height: 50vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  text-align: center;
  color: #cacaca;
  background-position: center;
}

.header-all {
  background-color: #421d01;
  width: 100%;
  text-align: center;
  color: #CACACA;
}

.home-slider {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

header .search-hotels {
  padding-top: 280px;
  padding-bottom: 200px;
}

#home-featured {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 3rem;
  h2 {
    color: #421d01;
    font-size: 24px;
    font-weight: 600;
  }
  p {
    color: #421D01;
    text-align: center;
  }
  .logo-img {
    margin-bottom: 30px;
  }
}



.shadow-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 400px;
  background: linear-gradient(#080808, rgba(8, 8, 8, 0));
  z-index: 2;
}

.wrap-logo {
  position: relative;
  z-index: 3;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  padding: 10px 10px 15px;
}

.logo-img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.7rem;
  max-height: 101px;
}

.navbar-brand .logo-img {
  max-height: 4rem;
  margin-top: 0;
  padding-top: 0;
}

.box-thumb {
  position: relative;
  cursor: default;
}

.box-thumb::selection {
  background: none;
}

.title-gallery-home {
  position: absolute;
  top: 0;
  right: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  background: rgba(224, 160, 57, 0.61);
  padding: 10px 10px 15px;
  width: 127px;
  font-size: 1rem;
}

.title-gallery-home h2 {
  font-weight: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 20px 0;
}

.title-gallery-home .gallery-telephone,
.title-gallery-home .gallery-time {
  padding: 0;
  font-size: 1rem;
}

.navbar {
  margin-bottom: 0;
  position: absolute;
  top: 18vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 4;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #421d01;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.navbar-custom ul li {
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
}

.nav ul li a::after,
.nav ul li a::before,
.nav ul li a:active,
.nav ul li a:hover,
.navbar-custom ul li a:hover {
  background: none;
  text-decoration: underline;
}

.nav-bottom ul li {
  display: inline;
  padding: 5px 20px;
  font-size: 12px;
}

.nav ul li a,
.navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.nav > li > a:focus,
.nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none !important;
  vertical-align: top;
}

ul.nav.navbar-nav:before {
  margin-left: 0;
}

li.btn.btn-rooms {
  margin: 15px;
  background-color: #fff;
  border: 1px solid #421d01;
  border-radius: 0;
  display: inline-block;
}

li.btn.btn-rooms a {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

li.btn.btn-rooms:active,
li.btn.btn-rooms:hover {
  background-color: #ebebeb;
}

.navbar .navbar-collapse {
  text-align: center;
}

ul.nav.navbar-nav.sub-nav {
  margin-left: 12px;
}

.nav ul.dropdown-menu {
  background: rgba(214, 144, 61, 0.68);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: rgba(214, 144, 61, 0.44);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: transparent;
  color: #fff;
}

.blog,
.content-single,
.sidebar {
  margin-top: 20px;
}

footer {
  clear: both;
  background-color: #6d6e71;
  background: url("asset/image/pattern.png");
  background-repeat: repeat;
  border-top: 2px solid #ecb64e;
}

footer .nav-bottom,
nav .navbar-custom {
  margin: 20px 0;
  color: #fff;
}

footer .nav-bottom ul,
nav .navbar-custom ul {
  margin-bottom: 0;
}

footer .menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-center {
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

.footer-center i,
.footer-center p {
  display: inline-block;
}

.footer-center a {
  color: #fff;
}

.footer-credits {
  text-align: center;
  background: $base-color;
  font-size: 12px;
  color: $secondary-color;
  padding: 10px 0;
}

.footer-credits a {
  color: $color-white;
}

ul.footer-menu {
  margin-top: 10px;
}

ul {
  padding-start: 0;
  -webkit-padding-start: 0;
}

.btn-outline {
  color: #fff;
  font-size: 20px;
  border: solid 2px #fff;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
  color: #f51818;
  background: #fff;
  border: solid 2px #fff;
}

.btn-social {
  display: inline-block;
  height: 35px;
  width: 35px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid #421d01;
  background-color: #421d01;
  color: #fff;
  font-size: 20px;
  box-shadow: none;
  text-shadow: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.btn-check,
.btn-check:active {
  background-color: #421d01;
  color: #fff;
  padding-left: 2.9em;
  padding-right: 2.9em;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.btn-check:hover {
  background-color: #fff;
  color: #a12c1f;
}

.border-check {
  border-radius: 5px;
  padding: 10px;
  background: rgba(238, 238, 238, 0.4);
  max-width: 495px;
  position: absolute;
  z-index: 3;
  top: 30vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.booking-box-above {
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  width: 155px;
}

.booking-box-above:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.booking-box-below {
  width: 145px;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
}

.booking-box-above .form-control {
  font-size: 20px;
}

.booking-box-above .form-control,
.booking-box-below .form-control {
  height: 80px;
  border-radius: 0;
  text-align: center;
}

.checkin-box:hover,
.checkout-box:hover {
  opacity: 1;
}

.booking-box-below span#from_date_day,
.booking-box-below span#to_date_day {
  color: #333;
}

.booking-title {
  padding: 5px 10px;
  background-color: #421d01;
  opacity: 1;
  font-weight: 700;
  font-size: 14px;
}

span#from_date_day,
span#to_date_day {
  color: #333;
}

.t_night {
  height: 50px;
}

.hiddenroom {
  display: none;
  margin-bottom: 20px;
}

.box-number {
  background: #eee;
  position: relative;
}

.box-number span {
  margin-left: 15px;
  color: #333;
}

.box-number input[type=button]:first-child,
.m-box-number input[type=button]:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: url("img/room-minus.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.box-number input[type=button]:last-child,
.m-box-number input[type=button]:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: url("img/room-plus.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.box-number input[type=button] {
  border: 0;
  height: 36px;
  width: 26px;
  padding: 5px 10px;
  font-size: 20px;
  vertical-align: top;
  -webkit-appearance: none;
}

.box-number input[type=text] {
  color: #421d01;
  min-height: 36px;
  background-color: transparent;
  border: none;
  opacity: 1;
  width: 40px;
  text-align: center;
}

.box-number input[type="submit"],
.box-number input[type="text"] {
  font-family: FontAwesome;
}

.box-number input.qtyplus {
  float: right;
  margin-right: 10px;
}

.box-number input.qtyminus {
  float: left;
  margin-left: 10px;
}

.box-number.night input.qtyminus,
.box-number.night input.qtyplus {
  float: none;
  margin: 0;
}

#toggle input {
  background-color: transparent;
  border: 0;
  width: 20px;
  margin-left: 5px;
}

.box-toggle:hover {
  cursor: pointer;
}

.box-toggle:hover a {
  text-decoration: none;
}

.box-toggle {
  margin-bottom: 10px;
  background-color: #eee;
  clear: both;
  padding: 5px 10px;
}

.hiddenroom {
  margin-left: 0;
  margin-right: 0;
  clear: both;
}

.box-number.night input[type=text] {
  font-size: 30px;
  height: 100px;
}

.box-number.night input[type=button] {
  vertical-align: baseline;
}

button.fa.fa-plus.qtyplus {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

button.fa.fa-minus.qtyminus {
  padding: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.box-number.one,
.box-number.three,
.box-number.two {
  margin-bottom: 10px;
}

.powered-by {
  max-width: 150px;
  margin: 10px auto;
}

h1.title {
  font-size: 2.4rem;
  color: #421d01;
  font-weight: 600;
}

.room-post h2 a {
  font-size: 24px;
  padding-top: 5px;
}

article p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.room-thumb {
  text-align: left;
  margin-bottom: 10px;
}

h2.title {
  text-align: left;
  margin-bottom: 0;
  margin-top: 30px;
}

h2.title-room-list {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

h2.title-room-list a {
  color: #000;
}

.room-info {
  font-size: 18px;
  color: #E3A11C;
  margin-bottom: 10px;
}

.room-breakfast {
  font-size: 18px;
  padding: 5px;
  color: #fff;
  background-color: #bababa;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.room-price {
  color: #421d01;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.book-room {
  text-transform: capitalize;
  padding: 10px;
  background-color: #421d01;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
}

.book-room:hover {
  background-color: #fff;
  color: #421d01;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.book-room:hover a {
  color: #421d01;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

.book-room a {
  color: #fff;
}

.book-room a:hover {
  color: #421d01;
  text-decoration: none;
  background-color: #fff;
  color: #421d01;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.room-tax {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 30px;
}

.room-detail a {
  color: #421d01;
}

.rooom-no {
  margin-bottom: 30px;
}

.room-booking {
  margin: 15px;
}

.room-booking .col-booking,
.room-booking .col-value {
  padding: 10px;
}

.room-booking.col-booking.table > tbody > tr > td {
  border: none;
  color: #421d01;
}

.room-booking img {
  width: 100%;
}

.room-details .form-control {
  margin-bottom: 10px;
}

.room-title-box {
  background: rgba(227, 161, 28, 0.5);
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

.room-title-box {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  max-width: 50%;
  margin: 0 auto;
}

.room-title-box h2 {
  font-size: 24px;
  font-weight: 800;
  margin-top: 5px;
}

.room-balcony {
  font-style: italic;
}

.room-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.room-details-spec {
  background: rgba(227, 161, 28, 0.5);
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
  z-index: 100;
  font-weight: 600;
  vertical-align: middle;
}

.room-details-desc {
  padding: 15px;
}

span.room-value {
  color: #421d01;
}

h3.room-details-f-title {
  background-color: #ebebeb;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #421d01;
}

.feature-box.col-md-12.col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

ul.room-features {
  margin-left: 20px;
}

ul.room-features li {
  list-style-type: square;
}

div#main_area {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.box-gallery {
  border: 1px solid #421d01;
  overflow: hidden;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
}

.gallery-view img {
  width: 100%;
}

.gallery-view.slick-initialized.slick-slider {
  max-height: 500px;
}

.gallery-nav .item {
  max-height: 90px;
  overflow: hidden;
}

.contact-box {
  margin-top: 10px;
  background: #ebebeb;
  margin-bottom: 20px;
  clear: both;
}

.contact-headline {
  background: #421d01;
  padding: 1px 10px;
  color: #fff;
  margin: 0 -15px;
}

.contact-headline h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-address {
  padding: 10px 0;
}

.contact-info tr td:first-child,
.contact-info tr td:nth-child(2) {
  padding-right: 10px;
}

.contact-info ul {
  margin-left: 0;
  padding-left: 7px;
  vertical-align: top;
  margin-bottom: 0;
  line-height: 45px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info table tbody tr {
  height: 2em;
}

.thumb {
  overflow: hidden;
}

.thumbnail {
  border-radius: 0;
}

.thumbnail-gallery {
  padding: 0;
  margin-bottom: 0;
}

.thumbnail > img,
.thumbnail a > img {
  width: 100%;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.thumbnail > img:hover,
.thumbnail a > img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
@font-face {
  font-family: 'Font-Name';
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"), url("fonts/font-name.woff") format("woff"), url("fonts/font-name.ttf") format("truetype"), url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media only screen and (max-width: 1024px) {
  .navbar-custom ul li {
    padding: 5px;
  }

  .booking-box-above {
    float: left;
    margin-left: 0;
  }

  .booking-box-below {
    float: left;
    width: 30%;
  }

  .nav-bottom ul li {
    display: block;
  }

  ol.carousel-indicators {
    display: none;
  }

  .box-toggle {
    margin-left: 0;
    margin-right: 0;
  }

  .booking-box-above .form-control,
  .booking-box-below .form-control,
  .box-number.night input[type=text] {
    height: auto;
  }

  .home-slider {
    height: 600px;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
  }

  .btn-check,
  .btn-check:active {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    background: #421d01;
  }

  .room-details-spec {
    position: initial;
  }

  .room-details-spec span.col-md-3 {
    display: inline-grid;
    color: #636363;
  }

  .room-title-box {
    padding: 1px;
  }

  .room-title-box h2 {
    font-size: 13px;
    margin: 0;
    padding: 0;
  }

  .t_night {
    height: 34px;
  }

  footer ul.list-inline {
    margin-bottom: 0;
  }

  footer .btn-social {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .border-check {
    margin: 0 10px;
  }

  .booking-box-above {
    width: 31.9%;
  }

  .booking-box-above:nth-child(3) {
    margin-right: 0;
  }

  .booking-box-above .form-control {
    font-size: 16px;
    padding: 10px 0;
  }

  .box-number.night input[type=text] {
    height: 10px;
    font-size: 16px;
    width: 25px;
  }

  .box-number.night input[type=button] {
    height: 28px;
  }
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end,
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start {
  min-width: 0;
  margin: 0;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick,
.caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick {
  width: calc(100% / 7);
  float: left;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 1px;
  background: #f28e20;
  cursor: not-allowed !important;
  color: #fff;
  min-height: 30px;
  border-radius: 2px;
  position: relative;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span,
.caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
  right: 4px;
}

.caleran-apply,
.caleran-apply-d {
  background: #f28e20 !important;
  border: 1px solid #f28e20 !important;
  color: #fff;
  margin-left: 7px;
}

.caleran-container-mobile .caleran-input .caleran-footer button.caleran-cancel {
  background: #fff;
  border: 1px solid #f28e20 !important;
  color: #f28e20 !important;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span {
  background: #f28e20 !important;
  color: #fff;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
  text-align: left;
  max-width: 40vmin;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day {
  float: left;
  margin-right: 10px;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend {
  color: #be142f;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-weekday {
  margin-top: 0;
}
@media (max-height: 480px) {
  .caleran-container-mobile .caleran-input {
    top: auto;
    bottom: 0;
  }
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.gallery-caption,
.wp-caption .wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
